USE [KHSBUS]
GO
/****** Object:  Table [dbo].[薪資明細表]    Script Date: 2017/4/5 下午 06:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[薪資明細表](
	[員編] [nvarchar](50) NULL,
	[姓名] [nvarchar](50) NULL,
	[單位] [nvarchar](50) NULL,
	[職稱] [nvarchar](50) NULL,
	[身份證字號] [nvarchar](50) NULL,
	[到職日] [nvarchar](50) NULL,
	[離職日] [nvarchar](50) NULL,
	[存摺號碼] [nvarchar](50) NULL,
	[場站] [nvarchar](50) NULL,
	[上班天數] [int] NULL,
	[固定本俸] [int] NULL,
	[本俸] [int] NULL,
	[職務津貼] [int] NULL,
	[主管津貼] [int] NULL,
	[特殊津貼] [int] NULL,
	[全勤獎金] [int] NULL,
	[證照津貼] [int] NULL,
	[薪資合計] [int] NULL,
	[經常性薪資] [int] NULL,
	[加工天數] [int] NULL,
	[加工金額] [int] NULL,
	[逾時A] [float] NULL,
	[逾時津貼A] [int] NULL,
	[逾時B] [float] NULL,
	[逾時津貼B] [int] NULL,
	[休息日加班前2小時] [int] NULL,
	[休息日加班前2小時津貼] [int] NULL,
	[休息日加班3_8小時] [int] NULL,
	[休息日加班3_8小時津貼] [int] NULL,
	[休息日加班9_12小時] [int] NULL,
	[休息日加班9_12小時津貼] [int] NULL,
	[加工逾時合計] [int] NULL,
	[電話費補貼] [int] NULL,
	[油資補貼] [int] NULL,
	[惜油補貼] [int] NULL,
	[其他] [int] NULL,
	[應領薪資] [int] NULL,
	[事假扣款] [int] NULL,
	[病假扣款] [int] NULL,
	[勞保] [int] NULL,
	[健保] [int] NULL,
	[勞退自提] [int] NULL,
	[代扣工會費] [int] NULL,
	[福利金] [int] NULL,
	[所得稅] [int] NULL,
	[法扣] [int] NULL,
	[保險] [int] NULL,
	[其他支出] [int] NULL,
	[實領薪資] [int] NULL,
	[事假天數] [int] NULL,
	[病假天數] [int] NULL,
	[生理假天數] [int] NULL,
	[事由] [nvarchar](255) NULL,
	[是否有法扣] [int] NULL,
	[單位負擔退休金] [int] NULL,
	[A_小計] [int] NULL,
	[B_小計] [int] NULL,
	[C_小計] [int] NULL,
	[D_其他扣] [int] NULL
) ON [PRIMARY]

GO
